$susy: (
   container: 1024px,
   columns: 12,
   gutters: 1/4,
   math: fluid,
   output: float,
   gutter-position: inside,
);


.container{
   @include container();
   padding: 15px;

   @media (min-width: 1024px){
      padding: 15px 0px;
   }
}
