$susy: (
   container: 1024px,
   columns: 12,
   gutters: 1/4,
   math: fluid,
   output: float,
   gutter-position: inside,
);

// Brand Colors
$brand-color: #B3740D;

// Global Active Link Color - best to use a variable from Brand Colors
$active-color: $brand-color;

a {
   color: $active-color;
}

.container{
   @include container();
   padding: 15px;

   @media (min-width: 1024px){
      padding: 15px 0px;
   }
}
